body{
    display: inline-block;
    margin: 5px;
    border: radius 5px;
    max-width:80%;
    margin: 10%;
    margin-top:0%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Para iniciar siempre la letra con bordes, y los margenes y padding en 0 para evitar problems */

html {
font-size: 62.5%;
}
/* Este hace referencia a la ruta del elemento, si yo por defecto doy un REM el tomara como rute el elemento contenedor, y sabemos que en el documento HTML, la medida por defecto es 16px, por eso un REM siempre equivaldrá a 16px
1REM=16px
Existe un truco para hacer que cada REM equivalga a 10px, y es poner el Font size en 62.5%, en el HTML */
main{
    width: inherit;
    height: 100vh;
    background-color:#293133;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.logo{
    margin: 10px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}


body header ul li a {
    text-decoration:none;
    color:white;
}

body header ul li  :hover{
    color: blue;
    
}

.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

li{
    text-decoration: none;
    /* esto elimina el subrrayado de las letras */
    color: black;
    margin: 1rem;
    font-size: 20px;
    list-style-type: none;   
    /* esto elimina los bullets */
}

.banner{
    background-image: url("/img/hero.png") ;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: radius 5px;
    border: black 2px  solid;
}

.banner::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color:#3b83bd ;
    opacity: 0.8;
}

.banner__info{
    padding: 0.3em;
    position: absolute;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color:white;
    margin:auto;
}
.banner__title{
    line-height: 1.5em;
    font-size: 3em;
    font-family: sans-serif;
    color:greenyellow;
}
.banner__p{
    line-height:2 ;
    font-size: 20px;
    font-family: sans-serif;
    color:greenyellow;
}
.main_electronica{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;    align-items: center;
    font-family: sans-serif;
}

footer{
    background:white;
    font-size: 1.5rem;
    width: 100%;
    height: 390px;
    color: white;
    display: flex;
    border: black 2px  solid;
}

.img-footer{
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

.container_footer{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    background-color:#234B76;
    
}

.tittle1_footer{
    color: #29db14;
    margin: 8px;
    
    text-align: center;
}
.tittle1_footerb{
    margin-top:0px;
    color: #29db14;
}

.p_footer{
    color: #29db14;
    margin: 15px;
    width: 250px;
    text-align:center;
}

.tittle2_footer{
    text-align:center;
    margin-left: 5px;
    margin-bottom: 15px;
    color: #29db14;
    text-align: center;
}
.tittle3_footer{
    margin-bottom:20px;
    color: #29db14;
    text-align: center;
}

.figure_footer{
display: flex;
justify-content: flex-start;
align-items: center;
margin: 14.5px;
}

.column1{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
    margin-left: 20px;
   margin-right: 20px;
   width: 440px;
}

.column2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
   margin-right: 20px;
   width: 440px;
}
.column3{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 440px;
}
a {
    margin-left: 10px;
    color: #29db14;
    text-decoration: none;
}
.copyright{
    display:flex;
    flex-direction:row;
    background-color: #293133;
    justify-content:space-evenly;
}
    .copyright-label{
        color:#29db14;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .a-copyright{
        color:#29db14;
        font-size: 20px;
        text-decoration: none;
        margin-left:10px ;
    }






